################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SiteSupportApp/SiteGenerator/bin/Debug
/SiteSupportApp/TstApp/bin/Debug
/SiteSupportApp/SiteGenerator/obj/Debug
/SiteSupportApp/TstApp/obj/Debug
/SiteSupportApp/packages
*.dll
/SiteSupportApp/.vs/SiteSupportApp/v15/Server/sqlite3/db.lock
/SiteSupportApp/.vs/SiteSupportApp/v15/Server/sqlite3/storage.ide
/SiteSupportApp/.vs/SiteSupportApp/v15/Server/sqlite3/storage.ide-shm
/SiteSupportApp/.vs/SiteSupportApp/v15/Server/sqlite3/storage.ide-wal
/SiteSupportApp/.vs/SiteSupportApp/v15/sqlite3/db.lock
/SiteSupportApp/.vs/SiteSupportApp/v15/sqlite3/storage.ide-wal
/SiteSupportApp/.vs/SiteSupportApp/v15/sqlite3/storage.ide-shm
/SiteSupportApp/CommonUtils/obj/Debug/CommonUtils.csproj.CopyComplete
/SiteSupportApp/NPackagePublisher/bin/Debug/CommonUtils.pdb
/SiteSupportApp/NPackagePublisher/obj/Debug/NPackagePublisher.csproj.CopyComplete
/SiteSupportApp/NPackagePublisher/obj/Debug/NPackagePublisher.csproj.CoreCompileInputs.cache
/SiteSupportApp/.vs/SiteSupportApp/v15/.suo
/SiteSupportApp/.vs/SiteSupportApp/v15/.suo
/SiteSupportApp/CommonUtils/obj/Debug/CoreCompileInputs.cache
/SiteSupportApp/CommonUtils/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/SiteSupportApp/CommonUtils/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/SiteSupportApp/CommonUtils/obj/Debug
/SiteSupportApp/NPackagePublisher/obj/Debug
/SiteSupportApp/NPackageCreator/obj/Debug
/SiteSupportApp/CommonUtils/obj/Debug
/SiteSupportApp/CommonUtils/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/SiteSupportApp/CommonUtils/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/SiteSupportApp/CommonUtils/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/SiteSupportApp/CommonUtils/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/SiteSupportApp/NPackageCreator/obj/Debug/CoreCompileInputs.cache
/SiteSupportApp/NPackageCreator/obj/Debug
/SiteSupportApp/CommonUtils/bin/Debug
/SiteSupportApp/NPackagePublisher/bin
SiteSupportApp/MetatypemanSiteSupport/obj
SiteSupportApp/MetatypemanSiteSupport/bin
SiteSupportApp/CommonSiteGeneratorLib/obj
SiteSupportApp/CommonSiteGeneratorLib/bin
