<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <appSettings>
    <add key="sourcePath" value="%USERPROFILE%/Documents/GitHub/gnuclay.github.io/siteSource/"/>
    <add key="destPath" value="%USERPROFILE%/Documents/GitHub/gnuclay.github.io/"/>
    <add key="apiReferenceConfigPath" value="%USERPROFILE%/Documents/GitHub/gnuclay.github.io/siteSource/api/ref-api-sln.json"/>
  </appSettings>
</configuration>
