<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <appSettings>
    <add key="siteName" value="gnuclay.github.io"/>
    <add key="rootPath" value="%USERPROFILE%/Documents/GitHub/gnuclay.github.io/"/>
    <add key="sourcePath" value="%SITE_ROOT_PATH%/siteSource/"/>
    <add key="destPath" value="%SITE_ROOT_PATH%/"/>
    <add key="tempPath" value="%SITE_SOURCE_PATH%/temp"/>
    <add key="apiReferenceConfigPath" value="%SITE_SOURCE_PATH%/api/ref-api-sln.json"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
